@typeparam TValue
@using System.Linq.Expressions
@using AcademicManager.Web.Components.Forms
@implements IDisposable

<div class="form-group @FormGroupClass">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="@LabelClass">
            @Label
            @if (Required)
            {
                <span class="text-danger">*</span>
            }
        </label>
    }
    
    @if (ShowHelp && !string.IsNullOrEmpty(HelpText))
    {
        <div class="help-text">@HelpText</div>
    }
    
    @switch (InputType)
    {
        case FormInputType.Text:
            <InputText class="@InputClass" 
                       @bind-Value="Value" 
                       placeholder="@Placeholder"
                       disabled="@Disabled" />
            break;
            
        case FormInputType.Number:
            <InputNumber class="@InputClass" 
                         @bind-Value="Value" 
                         placeholder="@Placeholder"
                         disabled="@Disabled" />
            break;
            
        case FormInputType.Email:
             <InputText type="email" class="@InputClass" 
                        @bind-Value="Value" 
                        placeholder="@Placeholder"
                        disabled="@Disabled" />
            break;
            
        case FormInputType.Password:
            <InputText type="password" class="@InputClass" 
                       @bind-Value="Value" 
                       placeholder="@Placeholder"
                       disabled="@Disabled" />
            break;
            
        case FormInputType.Date:
            <InputDate class="@InputClass" 
                       @bind-Value="Value" 
                       disabled="@Disabled" />
            break;
            
        case FormInputType.TextArea:
            <textarea class="@InputClass" 
                      @bind="Value" 
                      placeholder="@Placeholder"
                      disabled="@Disabled"
                      rows="@TextAreaRows">@Value</textarea>
            break;
            
        case FormInputType.Select:
            <InputSelect class="@InputClass" 
                        @bind-Value="Value" 
                        disabled="@Disabled" 
                        placeholder="@Placeholder">
                {
                    <option value="">@Placeholder</option>
                }
                @ChildContent
            </InputSelect>
            break;
            
        case FormInputType.Checkbox:
            <div class="form-check">
                <label class="form-check-label">
                    <InputCheckbox class="@InputClass" 
                                   @bind-Value="Value" 
                                   disabled="@Disabled" />
                    <span>@Label</span>
                </label>
            </div>
            break;
    }
    
    <ValidationMessage For="@ValueExpression" class="@ValidationMessageClass" />
    
    @if (ShowHelpAfter && !string.IsNullOrEmpty(HelpText))
    {
        <div class="help-text">@HelpText</div>
    }
</div>

@code {
    [Parameter]
    public TValue? Value { get; set; }

    [Parameter]
    public EventCallback<TValue> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<TValue>>? ValueExpression { get; set; }

    [Parameter]
    public FormInputType InputType { get; set; } = FormInputType.Text;

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public string? HelpText { get; set; }

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool ShowHelp { get; set; } = true;

    [Parameter]
    public bool ShowHelpAfter { get; set; } = false;

    [Parameter]
    public bool ShowPlaceholderOption { get; set; } = true;

    [Parameter]
    public int TextAreaRows { get; set; } = 3;

    [Parameter]
    public string FormGroupClass { get; set; } = "";

    [Parameter]
    public string LabelClass { get; set; } = "";

    [Parameter]
    public string InputClass { get; set; } = "form-control";

    [Parameter]
    public string ValidationMessageClass { get; set; } = "validation-message";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private EditContext? editContext;
    private FieldIdentifier fieldIdentifier;

    protected override void OnInitialized()
    {
        if (ValueExpression != null)
        {
            fieldIdentifier = FieldIdentifier.Create(ValueExpression);
            
            // Try to get EditContext from parent form
            var cascadedEditContext = (EditContext?)CascadingParameters.FirstOrDefault(p => p is EditContext);
            if (cascadedEditContext != null)
            {
                editContext = cascadedEditContext;
                editContext.OnValidationStateChanged += HandleValidationStateChanged;
            }
        }
    }

    private void HandleValidationStateChanged(object? sender, ValidationStateChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        if (editContext != null)
        {
            editContext.OnValidationStateChanged -= HandleValidationStateChanged;
        }
    }
}

public enum FormInputType
{
    Text,
    Number,
    Email,
    Password,
    Date,
    TextArea,
    Select,
    Checkbox
}